<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <%- include partials/_header.ejs %>
    <h3> URL LIST : Customize your own list of URLS you'd like to Shorten :D </h3>

    <table border='1'>
      <tr>
        <td align='center'> Original Url </td>
        <td align='center'> Shortened URL </td>
        <td colspan='2' align='center'> Additional actions </td>
      </tr>
      <% for (url in urls) { %>
        <% if (user && user.id === urls[url].userId) { %>
        <tr>
          <td>
              <%= urls[url].longURL %>
          </td>
          <td>
            <a href= " /u/<%= url %>">localhost:8080/u/<%= url %></a>
          </td>
          <td>
           <form method="POST" action="/urls/<%= url %>/delete"><button> DELETE </button></form>
          </td>
          <td>
           <form method="GET" action="/urls/<%= url %>/update"><button> UPDATE </button></form>
          </td>
        </tr>
        <% } %>
      <% } %>
    </table>
    <a href='urls/new'><button> GO HERE TO SHORTEN A NEW URL SUCKA </button></a>
  </body>
</html>