<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <%- include partials/_header.ejs %>
    <h3> URL LIST </h3>

    <table border='1'>
      <tr>
        <td> Url </td>
        <td> Short Link </td>
        <td> Delete </td>
        <td> Update </td>
        <td> Upderps </td>
      </tr>
      <% for (url in templateVars.urls){ %>
        <tr>
          <td>
              <%= templateVars.urls[url] %>
          </td>
          <td>
            <a href= " /u/<%= url %>">localhost:8080/u/<%= url %></a>
          </td>
          <td>
           <form method="POST" action="/urls/<%= url %>/delete"><button> DELETE </button></form>
          </td>
          <td>
           <form method="GET" action="/urls/<%= url %>/update"><button> UPDATE </button></form>
          </td>
          <td>
           <form method="POST" action="/urls/<%= url %>/Update">
      <input id="longURL" type="text" name="longURL" value="http://" style="width: 300px">
           <button> UPDERPS</button></form>
          </td>
        </tr>


      <% } %>
    </table>
      <p>

      <form method="GET" action="/urls/new"> <button> GO HERE TO SHORTEN A NEW URL SUCKA </button></form>

      </p>
  </body>
</html>