<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <%- include partials/_header.ejs %>
    <h2> URL LIST </h2>

    <table border='1'>
      <tr>
        <td> Url </td>
        <td> Short Link </td>
        <td> Delete </td>
      </tr>
      <% for (url in urls) { %>
        <tr>
          <td>
              <%= urls[url] %>
          </td>
          <td>
            <a href= " /u/<%= url %>">localhost:8080/u/<%= url %></a>
          </td>
          <td>

           <form method="POST" action="/urls/<%= url %>/delete"><button>DELETE </button></form>
          </td>
        </tr>
      <% } %>
    </table>

  </body>
</html>